#description{
    padding: 10px;
    text-align: center;
    background-color: #fee5d9;
}

h1{
    font-family: "Lucida Fax";
    font-size: 32px;
    color: black;
    text-align: center;
}
h2{
    font-family: "Lucida Fax";
    font-size: 19px;
    color: black;
    text-align: center;
}
h3{
    font-family: "Lucida Fax";
    font-size: 16px;
    color: black;
    text-align: center;
}
h4{
    font-family: "Lucida Fax";
    font-size: 14px;
    color: black;
    text-align: center;
}
#content{
    text-align: center;
    padding: 30px;
    color: black;
    float: left;
    background-color: #e5e5e5;
}
#elements{
    padding: 30px;
    color: black;
    text-align: center;
    background-color: #e5e5e5;
    float: right;
}
#source{
    position: relative;
    text-align: center;
    padding: 30px;
    color: black;
    background-color: #e5e5e5;
}
.states {
	fill: #fff;
	stroke: #fff;
	stroke-width: 1.5px;
}
.map{
	position: relative;
	border: medium solid #e5e5e5;
	padding: 20px;
    background-color: #e5e5e5
    margin: 10px 0 0 20px;    

}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #e5e5e5;
    float: right;
    margin: 10px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}


/*.chartFrame {
    fill: none;
    stroke: medium solid #252525;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}*/

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}