#description{
    padding: 10px;
    text-align: center;
    background-color: #fee5d9;
}

h1{
    font-family: "Lucida Fax";
    font-size: 32px;
    color: black;
    text-align: center;
}
h2{
    font-family: "Lucida Fax";
    font-size: 19px;
    color: black;
    text-align: center;
}
h3{
    font-family: "Lucida Fax";
    font-size: 16px;
    color: black;
    text-align: center;
}
h4{
    font-family: "Lucida Fax";
    font-size: 14px;
    color: black;
    text-align: center;
}
.chart {
    background-color: #fff;
    float: right;
    margin: 10px 20px 0 0;
    padding: 3px;

}
#content{
    text-align: center;
    padding: 30px;
    color: black;
    float: left;
    background-color: #e5e5e5;
}
#elements{
    padding: 30px;
    color: black;
    text-align: center;
    background-color: #e5e5e5;
    float: right;
}
#source{
    text-align: center;
    position: absolute;
    padding: 30px;
    color: black;
    background-color: #e5e5e5;
    bottom: 70px;
}
.states {
	stroke: #fff;
	stroke-width: 1.5px;
}
.map{
	position: relative;
	padding: 20px;
    background-color: #e5e5e5
    margin: 7px 20px 0 0;   

}

.numbers {
    fill: white;
    font-family: "Lucida Fax";
}

.chartTitle {
    font-family: "Lucida Fax";
    font-size: 1.5em;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "Lucida Fax";
    font-size: 0.8em;
    color: black;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 640px;
    left: 40px;
    z-index: 100;
    font-family: "Lucida Fax";
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px #e5e5e5;
}

option {
    font-weight: normal;
}